.shorts-title-logo {
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    margin-left: 5px;
}

.shorts-title-logo img {
    height: 36px;
    width: 100%;
}

.shorts-title-logo p {
    font-size: 22px;
    font-family: Roboto, Arial;
    font-weight: bolder;
}

.shorts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    margin-bottom: 40px;
}

.shorts-info-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.shorts-thumbnail {
    width: 100%;
    height: 400px;
    display: inline-block;
    object-fit: cover;
    border-radius: 12px;
}

.shorts-thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.shorts-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.shorts-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

@media (max-width: 590px) {
    .shorts-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 591px) and (max-width: 1099px) {
    .shorts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .shorts-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}